// Color system
$white:     #FFFFFF;
$gray-84:   rgba(0, 0, 0, 0.84);
$gray-54:   rgba(0, 0, 0, 0.54);
$background: rgba(0,0,0,.05);
$background-dark: rgba(0,0,0,.075);
$black:     #000000;
$blue:      #0060DF;
$orange:      #ffbb49;

$default-icon: #999999;